@charset "utf-8";
/* CSS Document */
@import url("something.css");
@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}
@keyframes fadeout {
  0% {
    background-color: #364c3b;
    outline: 1px solid #56795e !important;
  }
  50% {
    background-color: #364c3b;
    outline: 1px solid #56795e;
  }
  100% {
    background-color: #222;
    outline: 1px solid #222;
  }
}
body {
  margin: 0;
  padding: 3em 6em;
  font-family: tahoma, arial, sans-serif;
  color: #000 !important;
}
#navigation a {
  font-weight: bold;
  text-decoration: none !important;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.7em;
}

h1:before, h2:before {
  content: "::";
}
code {
  font-family: courier, monospace;
  font-size: 80%;
  color: #418A8A;
}
body > .CodeMirror-gutters + span {
  background: #2c2c2c !important;
  border-right: 2px solid #2f2f2f !important;
}
.section .properties .dimmed {
  opacity: 0.5 !important;
}
input[type="text"] {
	font: black;	
	.font: red;
}

/* ------------------------------------------------------------------ */
