span.CodeMirror-matchingbracket {
  background: rgba(22, 84, 217, 0.6);
  color: white !important;
  font-weight: 900;
  display: inline-block;
}
.CSS span.cm-m-css.cm-comment,
.HTML span.cm-m-css.cm-comment {
  color: #999999;
  font-style: normal;
}
.CSS span.cm-m-css.cm-string,
.HTML span.cm-m-css.cm-string,
.CSS span.cm-m-css.cm-string-2,
.HTML span.cm-m-css.cm-string-2,
.CSS span.cm-m-css.cm-link,
.HTML span.cm-m-css.cm-link,
.CSS span.cm-m-css.cm-rangeinfo,
.HTML span.cm-m-css.cm-rangeinfo {
  color: #006600;
}
.CSS span.cm-m-css.cm-qualifier,
.HTML span.cm-m-css.cm-qualifier,
.CSS span.cm-m-css.cm-builtin,
.HTML span.cm-m-css.cm-builtin,
.CSS span.cm-m-css.cm-tag,
.HTML span.cm-m-css.cm-tag {
  color: #ff00ff;
}
.CSS span.cm-m-css.cm-keyword,
.HTML span.cm-m-css.cm-keyword,
.CSS span.cm-m-css.cm-atom,
.HTML span.cm-m-css.cm-atom,
.CSS span.cm-m-css.cm-hr,
.HTML span.cm-m-css.cm-hr,
.CSS span.cm-m-css.cm-variable,
.HTML span.cm-m-css.cm-variable,
.CSS span.cm-m-css.cm-number,
.HTML span.cm-m-css.cm-number,
.CSS span.cm-m-css.cm-attribute,
.HTML span.cm-m-css.cm-attribute,
.CSS span.cm-m-css.cm-plus,
.HTML span.cm-m-css.cm-plus,
.CSS span.cm-m-css.cm-error,
.HTML span.cm-m-css.cm-error,
.CSS span.cm-m-css.cm-minus,
.HTML span.cm-m-css.cm-minus {
  color: #0000ff;
}
.CSS span.cm-m-css.cm-variable-4,
.HTML span.cm-m-css.cm-variable-4 {
  color: #ffae5e;
}
.CSS span.cm-m-css.cm-def,
.HTML span.cm-m-css.cm-def {
  color: #B28BFF;
}
.CSS span.cm-m-css.cm-meta,
.HTML span.cm-m-css.cm-meta,
.CSS span.cm-m-css.cm-property,
.HTML span.cm-m-css.cm-property {
  color: #ffc39c;
}
.CSS span.cm-m-css.cm-quote,
.HTML span.cm-m-css.cm-quote,
.CSS span.cm-m-css.cm-variable-2,
.HTML span.cm-m-css.cm-variable-2,
.CSS span.cm-m-css.cm-variable-3,
.HTML span.cm-m-css.cm-variable-3 {
  color: #0000ff;
}
.CSS span.cm-m-css.cm-operator,
.HTML span.cm-m-css.cm-operator,
.CSS span.cm-m-css.cm-bracket,
.HTML span.cm-m-css.cm-bracket {
  color: #e9e9e9;
}
.CSS span.cm-m-css.cm-atom + span.cm-m-css.cm-keyword,
.HTML span.cm-m-css.cm-atom + span.cm-m-css.cm-keyword,
.CSS span.cm-m-css.cm-atom + span + span.cm-m-css.cm-keyword,
.HTML span.cm-m-css.cm-atom + span + span.cm-m-css.cm-keyword {
  color: #ff0000;
}
/*							//...Adobe/Brackets assumes #FFF
.-();
.-() when (@tagHighlightFG = "none") {@killMatching: !important;}
.-() when (@tagHighlightFG != "none") {@killMatching:;}
*/
.HTML .cm-m-xml.cm-tag,
.HTML .cm-m-xml.cm-quote {
  color: #000099 !important;
  background: #ffffff !important;
}
.HTML .cm-m-xml:not(CodeMirror-matchingtag) {
  background: #ffffff !important;
}
.HTML .cm-m-xml.CodeMirror-matchingtag {
  background: #e6e6e6 !important;
  color: #000099 !important;
}
.HTML .cm-m-xml.cm-tag.CodeMirror-matchingtag:not(.cm-bracket) {
  font-weight: 900 !important;
}
.HTML .cm-m-xml.cm-tag.CodeMirror-matchingtag {
  background: #e6e6e6 !important;
}
.HTML .cm-m-xml.cm-tag.cm-tag-script {
  color: #900 !important;
}
.HTML .cm-m-xml.cm-tag.cm-tag-style {
  color: #909 !important;
}
.HTML .cm-m-xml.cm-tag.cm-tag-a {
  color: #060 !important;
}
.HTML .cm-m-xml.cm-tag.cm-tag-form {
  color: #ff9900 !important;
}
.HTML .cm-m-xml.cm-tag.cm-tag-button,
.HTML .cm-m-xml.cm-tag.cm-tag-input,
.HTML .cm-m-xml.cm-tag.cm-tag-textarea {
  color: #F90 !important;
}
.HTML .cm-m-xml.cm-tag.cm-tag-object {
  color: #900 !important;
}
.HTML .cm-m-xml.cm-tag.cm-tag-img {
  color: #909 !important;
}
.HTML .cm-m-xml.cm-tag.cm-tag-table,
.HTML .cm-m-xml.cm-tag.cm-tag-thead,
.HTML .cm-m-xml.cm-tag.cm-tag-tbody,
.HTML .cm-m-xml.cm-tag.cm-tag-th,
.HTML .cm-m-xml.cm-tag.cm-tag-tbody,
.HTML .cm-m-xml.cm-tag.cm-tag-tr,
.HTML .cm-m-xml.cm-tag.cm-tag-td {
  color: #099 !important;
}
.HTML .cm-m-xml.cm-comment {
  color: #999999 !important;
}
.HTML .cm-m-xml.cm-attribute,
.HTML .cm-m-xml.cm-qualifier {
  color: #990099 !important;
}
.HTML .cm-m-xml.cm-string {
  color: #0000ff !important;
}
.HTML .cm-m-xml.cm-number {
  color: #0000ff !important;
}
.HTML .cm-m-xml.cm-special {
  color: #000000 !important;
}
/*=========================================================================
	UNFORTUNATELY !important is required to override color from below css...
	...defined above -AND- in BracketsDWExtension/.../default-code-coloring.css
	
		.CodeMirror-matchingbracket, .CodeMirror-matchingtag {
			background-color: #1654D9;
			color: #ffffff !important;
		}
	=========================================================================*/

/*# sourceMappingURL=2017-06-22.classic.CC2015.css.map */